<!-- Popup carrello -->
<div
  class="popup-carrello"
  *ngIf="isVisible && cartItem"
  (mouseenter)="stopTimer()"
  (mouseleave)="startTimer()"
>
  <div class="contenitore-popup-carrello">
    <div class="margini-popup">
      <div class="aggiunta-carrello">
        <img src="images/Icon/svg/checkmark.svg" alt="" />
        <h2>Aggiunto al carrello</h2>
      </div>
      <button class="icon-button exit" (click)="closeComponent()">
        <img src="images/Icon/svg/chiudi.svg" alt="X" />
      </button>
    </div>

    <!-- Dettagli scarpa popup-carrello -->
    <div class="dettagli-scarpa-popup">
      <div class="contenitore-img-scarpa-popup">
        <img [src]="cartItem.img_scarpa_cover" alt="Image of the product" />
      </div>
      <div class="contenitore-testo-scarpa-popup">
        <h4 class="titolo-scarpa-popup font-1">{{ cartItem.nome }}</h4>
        <p class="font-1">Scarpa - Uomo</p>
        <p class="font-1" id="ntaglia">
          Taglia / Misura EU {{ cartItem.taglia }}
        </p>
        <p class="prezzo-popup">{{ cartItem.prezzo | number: "1.2-2" }} €</p>
      </div>
    </div>
    <div class="contenitore-bottoni-popup">
      <button
        class="bottone-grande expanded preferiti popup"
        routerLink="/cart"
        (click)="goTo('cart')"
      >
        Visualizza Carrello ({{ itemCount }})
      </button>
      <button
        class="bottone-grande expanded nero popup"
        routerLink="/checkout"
        (click)="goTo('checkout')"
      >
        Pagamento
      </button>
    </div>
  </div>
</div>
