<main>
  <!-- Contenitore principale -->
  <div class="padding-principale contenitore-scarpa-testo">
    <div
      class="contenitore-content-scarpa"
      [ngClass]="{ sticky: isImageGallerySticky }"
    >
      <!-- Thumbnails of the shoe -->
      <div class="thumbnail-gallery-ctn">
        <div
          *ngFor="let imageUrl of selectedCwImgs; let i = index"
          class="thumbnail"
          [class.selected]="i === selectedIndex"
          (mouseover)="selectThumbnailImage(imageUrl, i)"
          (focus)="selectThumbnailImage(imageUrl, i)"
          id="thumbnail-{{ i }}"
        >
          <img [src]="imageUrl" alt="Thumbnail {{ i }}" />
          <div class="oscura"></div>
        </div>
      </div>

      <div class="contenitore-img-video-grosso">
        <!-- Mettere il div con testo "Valutazione alta" ed il div contenente il video che sta sotto l'immagine -->
        <!-- <div class="contenitore-video">
          <!-- <video
            class="video-scarpa-grossa"
            src="videos/shoes/air-max-270.mp4"
            autoplay
            muted
            loop
          ></video> 
        </div> -->
        <!-- Big shoe image -->
        <div class="contenitore-immagine-scarpa">
          <img
            loading="eager"
            class="immagine-scarpa-grossa"
            [src]="currentDisplayImage"
            alt="Image of the shoe"
          />
        </div>
        <!-- Bottoni slider -->
        <div class="contenitore-mini-bottone-slider">
          <button
            class="icon-button slider mini-bottone-slider"
            (click)="goToPreviousImg()"
          >
            <img src="images/Icon/svg/sinistra.svg" alt="Left" />
          </button>
          <button
            class="icon-button mini-bottone-slider"
            (click)="goToNextImg()"
          >
            <img src="images/Icon/svg/destra.svg" alt="Right" />
          </button>
        </div>
      </div>
    </div>

    <!-- Dettagli scarpa -->
    <div class="dettagli-scarpa">
      <!-- Titolo scarpa -->
      <div class="titolo-scarpa">
        <div class="nome-tipo-scarpa">
          <h1>Nike Dunk Low Retro</h1>
          <h2>Scarpa - Uomo</h2>
        </div>
        <div class="prezzo-scarpa"><h3>119,99 €</h3></div>
      </div>

      <!-- Per il responsive mettere qua il div che fara da image gallery <div> -->

      <div id="colorway-picker-container">
        <ng-container
          *ngFor="
            let colorway of selectedProduct?.colori_disponibili;
            let i = index
          "
          ><a
            class="colorway-link"
            [routerLink]="[
              '/product/s',
              getProductSlug(selectedProduct.nome),
              colorway,
            ]"
            ><div
              class="colorway-img-ctn"
              [class.active]="selectedColorway === colorway"
            >
              <img
                class="colorway-img"
                [src]="selectedProduct.immagini_scarpa[i].urls[0]"
                alt="Image of the colorway"
                loading="lazy"
              /></div
          ></a>
        </ng-container>
      </div>

      <!-- Titolo taglie e misure -->
      <div class="taglia-misura">
        <span [class.warning]="isAlertVisible">Seleziona la taglia/misura</span>
        <span
          ><img loading="lazy" src="images/Icon/svg/misura.svg" alt="" /> Guida
          alle taglie e alle misure</span
        >
      </div>

      <div class="taglie-misure" [class.warning]="isAlertVisible">
        <div
          *ngFor="let size of selectedProduct?.taglie_disponibili"
          class="mini-taglia"
        >
          <input
            type="radio"
            name="talgie-scarpe"
            [value]="size"
            [id]="'taglia-' + size"
            (change)="selectedShoeSize = size; isAlertVisible = false"
          /><label [for]="'taglia-' + size">EU {{ size }} </label>
        </div>
      </div>
      <span id="no-scarpa" *ngIf="isAlertVisible">Selezionare la misura.</span>

      <div class="contenitore-bottoni-grandi">
        <button
          id="bottone"
          class="bottone-grande expanded nero"
          (click)="addProductToCart()"
          type="button"
        >
          Aggiungi al carrello
        </button>
        <button class="bottone-grande expanded preferiti">
          Aggiungi ai preferiti
          <img loading="lazy" src="images/Icon/svg/cuore.svg" alt="" />
        </button>
      </div>
      <div class="product-description-ctn">
        <!-- Ritiro gratuito Opzione "Clicca e ritira" disponibile al pagamento Nike -->
        <p>{{ selectedProduct?.descrizione }}</p>
        <br />
        <ul>
          <li>
            Colore mostrato in foto:
            <strong>{{ selectedColorway }}</strong>
          </li>
        </ul>
      </div>

      <div class="product-info-accordions">
        <details class="accordion-item">
          <summary>
            <span class="ai-summary-wrapper"
              ><h4 class="sm-text">Taglia/misura e fit</h4>
              <div class="dp-button arrow">
                <img
                  loading="lazy"
                  src="images\Icon\svg\freccia-giu.svg"
                  alt="down arrow icon"
                /></div
            ></span>
          </summary>
          <div class="ai-content-wrapper">
            <ul>
              <li>
                Calzata piccola: ti consigliamo di ordinare mezza misura in più
              </li>
              <li>
                <a
                  class="link-btn"
                  href="https://www.nike.com/it/size-fit/scarpe-uomo"
                  target="_blank"
                  >Guida alle taglie e alle misure</a
                >
              </li>
            </ul>
          </div>
        </details>

        <details class="accordion-item">
          <summary>
            <span class="ai-summary-wrapper"
              ><h4 class="sm-text">Spedizione e resi</h4>
              <div class="dp-button arrow">
                <img
                  loading="lazy"
                  src="images\Icon\svg\freccia-giu.svg"
                  alt="down arrow icon"
                /></div
            ></span>
          </summary>
          <div class="ai-content-wrapper">
            <p>Proroga resi per le festività</p>
            <p>Usufruisci del periodo per i resi esteso a 60 giorni.</p>
            <u
              ><strong
                ><a
                  href="https://www.nike.com/it/help/a/politica-dei-resi"
                  target="_blank"
                  >Scopri di più</a
                ></strong
              >
            </u>
          </div>
        </details>

        <details class="accordion-item">
          <summary>
            <span class="ai-summary-wrapper"
              ><h4 class="sm-text">Recensioni</h4>
              <div class="dp-button arrow">
                <img
                  loading="lazy"
                  src="images\Icon\svg\freccia-giu.svg"
                  alt="down arrow icon"
                /></div
            ></span>
          </summary>
          <div class="ai-content-wrapper">
            <p>Nessuna recensione</p>
          </div>
        </details>

        <details class="accordion-item">
          <summary>
            <span class="ai-summary-wrapper"
              ><h4 class="sm-text">Ulteriori informazioni</h4>
              <div class="dp-button arrow">
                <img
                  loading="lazy"
                  src="images\Icon\svg\freccia-giu.svg"
                  alt="down arrow icon"
                /></div
            ></span>
          </summary>
          <div class="ai-content-wrapper">
            <p>Disponibile in taglie/misure per <strong>bambini</strong></p>
            Clicca
            <a href="https://www.nike.com/it/help/a/recycle-packaging">
              <u><strong>qui</strong></u></a
            >
            per informazioni su come smaltire gli imballaggi dei prodotti Nike
            in Italia.
          </div>
        </details>
      </div>
    </div>
  </div>
  <div class="spazio"></div>
  <div class="spazio"></div>
</main>
