@use "variables" as colore;

.error-credentials-ctn {
  display: none;
  width: 100%;
  align-items: center;
  gap: 12px;
  background-color: colore.$grigio-bianco;
  border-radius: 5px;
  font-size: medium;
  line-height: 24px;
  margin-bottom: 25px;
  padding: 10px 16px;

  &.active {
    display: flex;
  }
}
