<main class="ctn-cc-main">
  <div class="ctn-cc-main-content">
    <div class="content-cc">
      <!-- Dettagli carrello -->
      <div class="ctn-cc-details">
        <!-- Spedizione gratuita per i member -->
        <div class="contenitore-spedizione font-1">
          <h2 class="titolo-spedizione font-1">
            Spedizione gratuita per i Member
          </h2>
          Diventa Member Nike e approfitta della spedizione rapida e gratuita.
          <a class="text-link" routerLink="/home">Unisciti a noi</a> o
          <a class="text-link" routerLink="/home">Accedi</a>
        </div>
        <!-- Dettagli del prodotto -->
        <header class="cc-header">
          <h1 class="cc-title">Carrello</h1>
        </header>
        <!-- Contenitore contenenti i dati della scarpa -->
        <div *ngFor="let item of cartItems">
          <div class="ctn-cc-data">
            <div class="carrello-img-testo">
              <div class="contenitore-img-carrello">
                <img
                  [src]="item.img_scarpa_cover"
                  alt="Immagine della scarpa selezionata"
                />
              </div>
              <div class="contenitore-testo-carrello">
                <div class="dati-carrello">
                  <a href="#">{{ item.nome }}</a>
                  <div class="testo-carrello font-1">Scarpa - Uomo</div>
                  <div class="testo-carrello font-1">{{ item.colore }}</div>
                  <div class="link-flex-ctn">
                    <div class="testo-carrello font-1">
                      <a class="link-taglia-regalo font-1" href="#"
                        >Taglia/misura {{ item.taglia }}</a
                      >
                    </div>
                    <div class="testo-carrello font-1">
                      <a class="link-taglia-regalo font-1" routerLink=""
                        >Opzioni regalo</a
                      >
                    </div>
                  </div>
                </div>

                <!-- Forse togliere l'id -->
                <div id="prezzo-calcolato">
                  {{
                    item.prezzo * item.quantita
                      | currency: "EUR" : "symbol" : "1.2-2" : "it-IT"
                  }}
                </div>
              </div>
            </div>

            <!-- Bottoni del carrello -->
            <div class="contenitore-bottoni-carrello">
              <div class="contenitore-btn-prezzo">
                <!-- Bottone "Elimina" o "Diminuisci" n. scarpe -->
                <button
                  id="btn-rimuovi-elemento"
                  class="bottone-prezzo icon-button cart"
                  (click)="removeCartItem(item, item.quantita)"
                >
                  @if (item.quantita > 1) {
                    <img src="images/Icon/svg/segno-meno.svg" alt="" />
                  } @else {
                    <img src="images/Icon/svg/cestino.svg" alt="" />
                  }
                </button>

                <!-- Numero scarpe-->
                <div id="numero-scarpe">{{ item.quantita }}</div>

                <!-- Bottone "Aggiungi" scarpa -->
                <button
                  id="btn-aggiungi-elemento"
                  class="bottone-prezzo icon-button cart"
                  (click)="addCartItem(item)"
                >
                  <img src="images/Icon/svg/segno-aggiungi.svg" alt="" />
                </button>
              </div>

              <!-- Bottone "Preferiti" -->
              <button class="bottone-prezzo preferiti icon-button cart">
                <img src="images/Icon/svg/cuore.svg" alt="" />
              </button>
            </div>

            <!-- Da modificare -->
            <div class="testo-ritiro">
              <p>Ritiro gratuito</p>
              <!-- Mettilo come link forse è meglio -->

              <div>
                <a routerLink="" class="text-link2">Trova un negozio</a>
              </div>
            </div>
          </div>
        </div>

        @if (noItemsFlag) {
          <div id="no-item">Nel tuo carrello non sono presenti articoli.</div>
        }
      </div>
      <!-- Riepilogo carrelo -->
      <div class="cc-summary">
        <div class="summary-content">
          <h2 class="summary-title">Riepilogo</h2>
          <div class="summary-text">
            <h4>Hai un codice promozionale?</h4>
            <div>
              <img src="images/Icon/svg/freccia-giu.svg" alt="" />
            </div>
          </div>
          <div class="summary-text">
            <div class="font-1 subtotale">
              Subtotale
              <div class="question-mark-ctn cart">
                <button class="q-mark-button" (click)="showPopup()">
                  <img src="images/Icon/svg/domanda-nero.svg" alt="" />
                </button>

                <div class="q-mark-popup cart font-1" *ngIf="isPopupOpen">
                  Il subtotale riflette il prezzo complessivo dell'ordine prima
                  dell'applicazione di eventuali sconti. Le spese di spedizione
                  non sono incluse.
                </div>
              </div>
            </div>
            <div id="subtotale">
              @if (totalPrice === 0) {
                <p>—</p>
              } @else {
                <p class="font-1">
                  {{
                    totalPrice | currency: "EUR" : "symbol" : "1.2-2" : "it-IT"
                  }}
                </p>
              }
            </div>
          </div>
          <div class="summary-text costi">
            <div>
              <p class="font-1">Costi di spedizione e gestione previsti</p>
            </div>
            <div><p class="font-1">Gratis</p></div>
          </div>
        </div>
        <div class="totale">
          <p>Totale</p>
          <span id="prezzo-totale">
            @if (totalPrice === 0) {
              <p>—</p>
            } @else {
              <p>
                {{
                  totalPrice | currency: "EUR" : "symbol" : "1.2-2" : "it-IT"
                }}
              </p>
            }
          </span>
        </div>

        <div class="contenitore-bottoni-riepilogo">
          <button
            class="bottone-grande expanded nero"
            routerLink="/checkout"
            [disabled]="noItemsFlag"
            (click)="goToCheckout()"
          >
            Vai al pagamento
          </button>
          <button
            class="bottone-grande expanded paypal"
            routerLink="/checkout"
            disabled
          >
            <!-- Per adesso lo disabilito completamente -->
            <img
              class="img-paypal"
              src="images/Logo/svg/logo-paypal.svg"
              alt="Paypal"
            />
          </button>
          <div class="legal-text-ctn font-1">
            Selezionando una delle opzioni di pagamento qui sopra, confermi di
            aver letto, compreso e accettato quanto segue:
            <a
              href="https://agreementservice.svs.nike.com/rest/agreement?agreementType=termsOfUse&uxId=com.nike.commerce.checkout.web&country=it&language=it&requestType=redirect"
              target="_blank"
              >Condizioni d'uso</a
            >,
            <a
              href="https://agreementservice.svs.nike.com/rest/agreement?agreementType=termsOfSale&uxId=com.nike.commerce.checkout.web&country=it&language=it&requestType=redirect"
              target="_blank"
              >Condizioni di vendita</a
            >
            e
            <a
              href="https://www.nike.com/it/help/a/politica-dei-resi"
              target="_blank"
              >Informativa sui resi</a
            >; confermi inoltre di aver letto il seguente documento Nike:
            <a
              href="https://agreementservice.svs.nike.com/rest/agreement?agreementType=privacyPolicy&uxId=com.nike.commerce.checkout.web&country=it&language=it&requestType=redirect"
              target="_blank"
              >Informativa sulla privacy</a
            >.
          </div>
        </div>
      </div>

      <!-- Piccola parte Preferiti -->
      <div class="preferiti-carrello">
        <h2 class="titolo-preferiti">Preferiti</h2>
        <p>
          Vuoi visualizzare i preferiti?
          <a class="text-link" routerLink="">Unisciti a noi</a> o
          <a class="text-link" routerLink="">Accedi</a>
        </p>
      </div>
      <!-- Qua mettere possibile componente slider -->
    </div>
  </div>

  <!-- 1110px -->
</main>
