@use "variables" as colore;

* {
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
button,
main {
  margin: 0;
  padding: 0;
}

html,
body {
  min-width: 500px;
}

body {
  position: relative;
}

app-header {
  position: sticky;
  top: 0;
  left: 0;
  //   width: 100%;
  height: 96px;
  z-index: 50;
  transition: top 0.25s ease;
  display: block;
  //   transition: transform 0.3s ease-in-out;

  // Classes used to hide the header or just the mini-header
  &.header-all-hidden {
    top: -100%;
  }

  // for the #mini-header when scrolling up
  &.mini-header-hidden {
    top: -36px;
  }
}

app-signup,
app-login {
  height: 100%;
  display: flex;
  justify-content: center;
}

.font-1 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
}

/* Per rendere elastici tutte le immagini */
img {
  max-width: 100%;
  display: block;
}

/* Per togliere i puntini delle liste */
ul {
  list-style-type: none;
}

/* Per togliere la sottolineatura dei link */
a {
  text-decoration: none;
  color: colore.$nero;
}

button,
input,
details {
  display: block;
}

.padding-principale {
  padding: 0 48px;
}

// Parte header component
// Fine parte header component

// Pate home component

/* For browsers that support `scrollbar-*` properties */
@supports (scrollbar-color: auto) {
  .slider ul {
    scrollbar-width: auto;
    scrollbar-color: colore.$grigio colore.$bianco;
  }
}

/* Otherwise, use `::-webkit-scrollbar-*` pseudo-elements */
@supports selector(::-webkit-scrollbar) {
  /* Firefox */
  .slider ul {
    scrollbar-width: auto;
    scrollbar-color: colore.$grigio colore.$bianco; /* 646264 */
  }

  /* Chrome, Edge, and Safari */
  .slider ul::-webkit-scrollbar {
    width: 16px;
  }

  .slider ul::-webkit-scrollbar-track {
    background: colore.$bianco;
  }

  .slider ul::-webkit-scrollbar-thumb {
    background-color: colore.$grigio;
  }
}

// Class used to remove the scroll
.no-scroll {
  overflow: hidden;
  height: 100vh;
}

// class applied on header component to remove the click and hover of its elements
.disable-interaction {
  pointer-events: none; // no click and hover
  user-select: none; // no text-selection
}

/* Oscuramento pagina */
.blur {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 40;
  background-color: colore.$blur;
  transition: opacity 300ms ease;

  pointer-events: none;

  &.active {
    opacity: 1;
    pointer-events: auto;
    // display: block;
  }
}

// Renamed .bottone-header class
.icon-button {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border-color: transparent;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  z-index: 1;

  .numero-carrello {
    position: absolute;
    top: -2px;
    right: -5px;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    z-index: 10;
  }
}

.icon-button.header:hover,
button.icon-button.cart:not(:disabled):hover {
  background-color: colore.$grigio-chiaro1;
}

.icon-button.bottone-cerca:hover,
.icon-button.bottone-elimina:hover,
.icon-button.exit:hover {
  background-color: colore.$grigio-chiaro2;
}

.icon-button.slider:active {
  background-color: colore.$grigio-chiaro2;
}

// renamed .link-membership class
.nike-link {
  height: 36px;
  margin: 8px 16px 8px 0;
  padding: 7.5px 16px;
  border-radius: 30px;
}

.nike-link.grigio {
  background-color: colore.$grigio-bianco;

  &:hover {
    background-color: colore.$grigio-chiaro1;
  }
}

// Utility class that expands the link to cover the entire container
.link-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
}

// class used to make gray a image (used in checkout and footer)
.img-grigio {
  filter: invert(50%) grayscale(100%);
}

/* Parte homepage.html*/

/* Parte scarpa.html */

.bottone-grande {
  /* width: 100%; */
  padding: 20px 24px;
  max-height: 60px;
  border-radius: 30px;
  border: 1px solid colore.$grigio-chiaro1;
  background-color: colore.$bianco;
  margin: 12.5px 0;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.bottone-grande:hover {
  border: 1px solid colore.$nero;
}

.bottone-grande.preferiti {
  background-color: colore.$bianco;
  margin-bottom: 32px;
}

.bottone-grande.nero {
  background-color: colore.$nero;
  color: colore.$bianco;
  border-color: transparent;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: colore.$blur;
    border-color: transparent;
    transition: none;
  }

  &:active {
    background-color: colore.$blur;
    // transform: translateY(2px);
  }

  &:disabled {
    background-color: colore.$grigio-bianco;
    // border: 1px solid transparent;
    color: colore.$grigio2;
    cursor: unset;
  }
}

.bottone-grande.popup {
  margin-bottom: 0;
}

.bottone-grande.expanded {
  width: 100%;
}

.bottone-grande.paypal {
  //   padding-top: 15px;
  //   padding-bottom: 15px;
  border-color: colore.$grigio-scuro1;
  transition: background-color 0.3s ease;

  &:not(:disabled):hover {
    filter: brightness(0.95);
    overflow: inherit;
  }

  &:disabled {
    background-color: colore.$grigio-bianco;
    border: 1px solid colore.$grigio-chiaro1;
    cursor: unset;
    img {
      filter: invert(50%) grayscale(100%);
    }
  }
}

// Link "Continua a fare shopping"
.bottone-grande.home {
  /*     display: inline-block;
    padding: 15px 30px; */
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: colore.$bianco;
  background-color: colore.$arancione; /* Colore arancione brillante tipico di Nike */
  border: 1px solid colore.$arancione;
  text-decoration: none;
  border-radius: 50px;
  transition: background-color 0.2s ease;
  letter-spacing: 0.5px;
  &:hover {
    background-color: colore.$arancione-hover;
  }
}

.bottone-grande.auth {
  padding-top: 12px;
  padding-bottom: 12px;
  margin: 0;
  line-height: 16px;
  min-height: 46px;
}

/* Parte carrelo.html */
/* Parte checkout.html */
// RICORDA DI RiNOMINARE LE CLASSI
// classes used in carrello and checkout components
// container cart/checkout main
.ctn-cc-main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  vertical-align: top;
  position: relative;
  margin: 0 auto 40px;
  padding-top: 50px;
} // Rinominare

.ctn-cc-main-content {
  /* width: 100%; */
  width: 1110px;
}

/* Contenitore subito sotto il main che gestisce la disposizione dei tre contenitori scritti sotto */
.content-cc {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
} // Rinominare

/* Contenitore sezione "dati-scarpa-carrello" */
.ctn-cc-details {
  width: 64%;
  margin-right: 5px;
}

.cc-header {
  display: flex;
  flex-direction: row;
  align-items: center;

  .cc-title {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-family: Helvetica, sans-serif;
    font-weight: 500;
    flex: 1 1 auto;

    &.disabled {
      color: colore.$grigio-chiaro2;
    }
  }
}

.ctn-cc-data {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  /* padding-bottom: 12.5px; */
  margin-bottom: 25px;
  border-bottom: 0.5px solid colore.$grigio-chiaro1;
}

/* Contenitore sezione "Riepilogo */
.cc-summary {
  width: 34%;
  padding: 0 15px;
  margin-bottom: 16px;
  /* flex-grow: 1; */
}

.text-link {
  color: colore.$nero;
  padding-bottom: 2px;
  box-shadow: 0px -1px 0px 0px inset;

  &.modifica {
    font-size: 0.875rem;
    opacity: 0;

    &.visible {
      opacity: 1;
    }

    &:hover {
      color: colore.$grigio;
      box-shadow: inset 0 -1px 0 0 colore.$grigio;
    }
  }
  &.gray {
    color: colore.$grigio;
  }
  &.red {
    color: colore.$rosso;
  }
}

.cc-details {
  display: flex;
  flex-direction: column;
}

.text-link2 {
  color: colore.$nero;
  border-bottom: 1px solid colore.$nero;
  padding-bottom: 2px;

  &.gray:hover {
    cursor: pointer;
    color: colore.$grigio;
  }

  &.cvv {
    font-size: 0.875rem;
  }
}

button.text-link {
  //   border-top: none;
  //   border-left: none;
  //   border-right: none;
  //   text-decoration: none;
  //   text-transform: none;
  border: none;
  background: none;
  cursor: pointer;
}

a.underlined-link:hover {
  border-bottom: 2px solid colore.$nero;
}

/* Sezione "Riepilogo" */
.summary-content {
  padding: 0px 8px 12px;
  margin-top: 0px;
  line-height: 28px;
}

.summary-title {
  margin-bottom: 24px;
  font-family: Helvetica, sans-serif;
  font-size: 1.5em;
  font-weight: 500;
}

.summary-text {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  /* padding-bottom: 10px; */

  /* Per il testo "Costi di spedizione e gestione previsti" */
  > div:first-child {
    width: 75%;
    display: flex;
    align-items: center;
    gap: 5px;
  }

  h4 {
    font-weight: 500;
  }

  p {
    font-size: 1.063rem;
  }
}

// Question mark container and button next to "Subtotale" in riepilogo section of cart and checkout components
.question-mark-ctn {
  display: block;
  position: relative;
  //   vertical-align: middle;
  cursor: pointer;
  outline: none;

  &.cart {
    width: 20px;
    height: 20px;
  }

  .q-mark-button {
    text-decoration: none;
    text-transform: none;
    background: none;
    border: medium;
    padding: 0px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .q-mark-popup {
    display: flex; // Attiva Flexbox
    flex-direction: column; // Dispone gli elementi (testo, img) in verticale
    align-items: center; // Centra gli elementi orizzontalmente
    gap: 10px;

    p {
      font-family: Helvetica, sans-serif;
    }

    // This one is a dark gray color
    &.cart {
      border-radius: 2px;
      background: colore.$grigio-scuro2;
      inset: 100% 50% auto auto;
      font-size: 0.875rem; // 14px

      &::after {
        border-color: currentcolor transparent colore.$grigio-scuro2;
        inset: auto 10px 100% auto;
      }
    }

    // This one is black
    &.checkout {
      left: -8px;
      border-radius: 8px;
      background: colore.$nero;
      font-size: 0.813rem; // 13px

      &::after {
        border-color: currentcolor transparent colore.$nero;
        inset: auto auto 100% 10px;
      }

      // It puts the popup in the end
      &.cvv::after {
        inset: auto auto 100% 50%;
      }

      // It puts the popup centered
      &.paese {
        left: 50%;
        transform: translateX(-50%);

        &::after {
          inset: auto auto 100% 50%;
          transform: translateX(-50%);
        }
      }
    }

    width: 250px; // 200px su media query più piccole
    z-index: 7;

    line-height: 1.3;
    color: colore.$bianco;

    margin: 10px -20px auto auto;
    padding: 16px;
    opacity: 1;
    visibility: visible;
    position: absolute;
    cursor: pointer;

    &::after {
      display: block;
      position: absolute;
      //   width: 20px;
      //   inset: 100% 50% auto auto;
      border-width: medium 10px 10px;
      border-style: none solid solid;

      content: "";
    }

    img {
      width: 180px;
      margin: 10px 0;
    }
  }
} // End of classes used in cart and checkout components

.contenitore-form2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;
  //   padding-bottom: 10px;
  //   margin-bottom: 5px;
  position: relative;

  &.auth {
    gap: 8px;
  }
}

// Input form
// Container for the input, input icon and the error message(birth date inputs error message excluded)
.voce-form {
  border-radius: 8px;

  input[type="radio"] {
    width: 0;
    height: 0;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    z-index: -1;

    ~ label {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      padding: 14px 10px;
      gap: 5px;
      border: 1px solid colore.$grigio-chiaro2;
      cursor: pointer;
    }

    &:disabled ~ label {
      cursor: default;
      color: colore.$grigio-chiaro2;

      img {
        filter: invert(50%) grayscale(100%);
      }
    }
  }

  // voce-form input container
  .vf-input-ctn {
    display: flex;
    justify-content: flex-start;
    background-color: transparent;
    align-items: center;
    position: relative;
    height: 3.5rem;
    border: 1px solid colore.$grigio;
    border-radius: 8px;

    &:hover:not(:has(input:disabled)) {
      border-color: colore.$nero;
    }

    // Removed repetitive styles
    &:has(
      input[type="text"]:focus,
      input[type="email"]:focus,
      input[type="password"]:focus
    ) {
      border-color: colore.$nero;
      outline: none;

      input[type="text"]:focus ~ label,
      input[type="email"]:focus ~ label,
      input[type="password"]:focus ~ label {
        color: colore.$nero;
      }
    }

    // Disabled inputs
    // Removed repetitive styles
    &:has(
      input[type="text"]:disabled,
      input[type="email"]:disabled,
      input[type="password"]:disabled
    ) {
      border-color: colore.$grigio-chiaro2;

      &:hover {
        border-color: colore.$grigio-chiaro2;
      }
    }

    .input-form {
      width: 100%;
      flex-grow: 1;
      height: 100%;
      background-color: colore.$bianco;
      border: 1px solid transparent;
      border-radius: 8px;
      padding: 16px 12px;
      font-size: 1em;
      font-family: Helvetica;

      &:focus {
        outline: none;
      }

      &.date {
        text-align: center;
      }
    }

    label {
      position: absolute;
      background: colore.$bianco;
      color: colore.$grigio;
      font-family: sans-serif;
      left: 1em;
      top: 50%;
      transform: translateY(-50%);
      cursor: text;
      transition:
        top 250ms ease,
        font-size 250ms ease;
    }

    // Removed unnecessary styles with better ones
    input[type="text"] ~ label,
    input[type="email"] ~ label,
    input[type="password"] ~ label,
    .input-form:not(:placeholder-shown).input-form:not(:focus) ~ label {
      top: 0;
      transform: translateY(-50%);
      font-size: 0.8rem;
      padding: 0 0.125em;
    }

    // Removed repetitive styles
    &:has(
        input[type="text"]:disabled,
        input[type="email"]:disabled,
        input[type="password"]:disabled
      )
      input[type="text"]
      ~ label,
    &:has(input[type="email"]:disabled) input[type="email"] ~ label,
    &:has(input[type="password"]:disabled) input[type="password"] ~ label {
      color: colore.$grigio-chiaro2;
    }
  }

  // For inputs with the error message next to them
  &:has(.messaggio-errore.active) {
    .vf-input-ctn {
      border-color: colore.$rosso;

      label {
        color: colore.$rosso;
      }

      &:hover {
        border-color: colore.$rosso;
      }

      &:has(
        input[type="text"]:focus,
        input[type="email"]:focus,
        input[type="password"]:focus
      ) {
        border: 1px solid colore.$rosso;
        outline: none;

        input[type="text"]:focus ~ label,
        input[type="email"]:focus ~ label,
        input[type="password"]:focus ~ label {
          color: colore.$rosso;
        }
      }
    }
  }
}

.error-message-ctn {
  min-height: 1.25em;

  .messaggio-errore {
    //   position: absolute;
    display: block;
    margin-top: 4px;
    margin-bottom: 10px;
    padding: 0 12px;
    font-size: 0.75em;
    opacity: 0;
    visibility: hidden;
    color: colore.$rosso;
    word-wrap: break-word;
    min-height: 0.85em;

    &.active {
      visibility: visible;
      opacity: 1;
    }
  }
}

.input-icon {
  display: flex;
  width: 24px;
  height: 24px;

  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  pointer-events: none;

  &.visible {
    opacity: 1;
  }

  &.right {
    margin-right: 12px;
  }

  &.left {
    margin-left: 12px;
  }

  &.clickable {
    pointer-events: auto;
    cursor: pointer;
  }

  &.card {
    width: 50px;
    border: 1px solid colore.$grigio-chiaro1;
    border-radius: 2px;
    padding: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    &.summary {
      width: 40px;
      border-radius: 4px;
    }
  }
}

.voce-form.tipo-1 {
  width: 100%;
}

.voce-form.tipo-2 {
  width: 50%;
  /* gap: 5px; */
}

.voce-form.tipo-3 {
  width: 35%;

  &:last-child {
    width: 30%;
  }
}

.voce-form.tipo-3.auth {
  width: 27%;

  &:last-child {
    width: 41%;
  }
}

// Chekbox checkmark
.contenitore-checkbox {
  display: flex;
  gap: 5px;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 20px 20px 4px;
  position: relative;

  &.auth {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.consent-checkbox {
  display: none;

  + label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 1px;
      width: 20px;
      height: 20px;
      border: 1.5px solid colore.$nero;
      border-radius: 4px;
      background-color: colore.$bianco;
      transition:
        background-color 0.3s,
        box-shadow 0.3s;
    }

    &.required {
      color: colore.$rosso;
    }
  }

  &.auth + label {
    padding-left: 40px;

    &::before {
      bottom: 9px;
    }
  }
}

.consent-checkbox:checked + label::before {
  background-color: colore.$nero;
}

.consent-checkbox:checked + label::after {
  content: "✔";
  position: absolute;
  left: 5px;
  bottom: 1px;
  color: colore.$bianco;
  font-size: 1em;
}

.consent-checkbox.auth:checked + label::after {
  bottom: 9px;
}

.consent-checkbox + label:hover::before {
  box-shadow: 0 0 0 5px colore.$grigio-hover;
}

// For signup and login components
.ctn-auth-form {
  max-width: 460px;
  margin: 20px 36px 60px;
  width: 100%;
}

.logo-img-ctn {
  display: flex;
  flex-direction: row;
  -moz-box-pack: start;
  justify-content: flex-start;
  -moz-box-align: center;
  align-items: center;
  height: 100px;
  gap: 10px;

  .logo-img-labair {
    margin: auto 0;
    width: 60px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo-img-jordan {
    margin: auto 0;
    width: 50px;
  }
}

// sf --> signup-form
.sf-title {
  font-size: 28px;
  font-weight: normal;
  line-height: 32px;
  margin-top: 0px;
  margin-bottom: 12px;
}

.sf-subtitle {
  font-size: medium;
  line-height: 24px;
  margin: 12px 0px 20px;

  .login {
    margin-bottom: 20px;
  }
}

.auth-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.contenitore-bottone-auth {
  display: flex;
  align-content: center;
  margin-top: 23px;
  flex-direction: row-reverse;
}

@media screen and (max-width: 959px) {
  .padding-principale {
    padding: 0 24px;
  }

  app-header {
    height: 60px;

    &.mini-header-hidden {
      top: 0;
    }
  }

  .ctn-cc-details {
    width: 100%;
    padding: 0 24px;
  }

  .cc-summary {
    width: 100%;
  }
}
