<!-- Contenuto principale -->
<main>
  <!-- <div class="blur"></div> -->
  <!-- Per oscurare la pagina -->

  <!-- Sezione "Banner" -->
  <div id="banner-hero">
    <img src="images/Home-page/hero-banner.jpg" alt="Banner" />
    <div id="testo-banner-hero">
      <h1 class="titolo-banner">REGALA IL MEGLIO</h1>
      <p>Ispirazione e movimento: il regalo perfetto.</p>
      <div class="ctn-nike-link">
        <a routerLink="/shoes" class="nike-link bianco">Acquista</a
        ><a routerLink="/shoes" class="nike-link bianco">Bambini</a>
      </div>
    </div>
    <a class="link-overlay" routerLink="/shoes"></a>
  </div>

  <!-- Sezione "Trend della settimana" -->
  <div class="slider padding-principale">
    <div class="contenitore-titolo-bottoni">
      <h2 class="titolo-slider">Trend della settimana</h2>
      <div class="contenitore-bottoni-slider">
        <!--  (mouseover)="" (mouseleave)="" (click)="" -->
        <button
          class="bottone-slider sinistra"
          (click)="scroll(0, 'left')"
          [disabled]="disabledLeft.get(0)"
        >
          <img
            src="images/Icon/svg/sinistra.svg"
            alt="Bottone direzione-sinistra"
          />
        </button>
        <button
          class="bottone-slider destra"
          (click)="scroll(0, 'right')"
          [disabled]="disabledRight.get(0)"
        >
          <img
            src="images/Icon/svg/destra.svg"
            alt="Bottone direzione-destra"
          />
        </button>
      </div>
    </div>

    <ul #scrollContainer (scroll)="checkScrollPosition(0, $any($event.target))">
      <ng-container *ngFor="let shoe of shoeList">
        <ng-container *ngIf="shoe.best_seller >= 3">
          <li>
            <div class="contenitore-prodotto-li">
              <a routerLink="/shoes" (shoeClick)="($event)"
                ><div class="contenitore-scarpa">
                  <div class="contenitore-img-scarpa">
                    <img
                      src="{{ shoe.immagine_cover }}"
                      alt="Image of the shoe"
                    />
                  </div>
                  <div class="testo-scarpa">
                    <div class="nome-tipo-scarpa">
                      <h4>{{ shoe.nome }}</h4>
                      <h5>Scarpa - Uomo</h5>
                    </div>
                    <div class="prezzo-scarpa">
                      <h3>{{ shoe.prezzo | number: "1.2-2" }} €</h3>
                    </div>
                  </div>
                </div></a
              >
            </div>
          </li>
        </ng-container>
      </ng-container>
    </ul>
  </div>

  <!-- Sezione "Acquista per sport" -->
  <div class="slider padding-principale">
    <div class="contenitore-titolo-bottoni">
      <h2 class="titolo-slider">Acquista per sport</h2>
      <div class="contenitore-bottoni-slider">
        <button
          class="bottone-slider sinistra"
          [disabled]="disabledLeft.get(1)"
          (click)="scroll(1, 'left')"
        >
          <img
            src="images/Icon/svg/sinistra.svg"
            alt="Bottone direzione-sinistra"
          />
        </button>
        <button
          class="bottone-slider destra"
          [disabled]="disabledRight"
          (click)="scroll(1, 'right')"
          [disabled]="disabledRight.get(1)"
        >
          <img
            src="images/Icon/svg/destra.svg"
            alt="Bottone direzione-destra"
          />
        </button>
      </div>
    </div>
    <ul #scrollContainer (scroll)="checkScrollPosition(1, $any($event.target))">
      <!-- Inserire ngFor -->
      <li>
        <div class="contenitore-prodotto-li">
          <a routerLink="/shoes"
            ><div class="contenitore-sport">
              <div class="contenitore-img-sport">
                <img src="images/Home-page/sport_1.jpg" alt="" />
              </div>
              <div class="testo-sport"><h3>Calcio</h3></div>
            </div></a
          >
        </div>
      </li>
      <li>
        <div class="contenitore-prodotto-li">
          <a routerLink="/shoes"
            ><div class="contenitore-sport">
              <div class="contenitore-img-sport">
                <img src="images/Home-page/sport_2.jpg" alt="" />
              </div>
              <div class="testo-sport"><h3>Danza</h3></div>
            </div></a
          >
        </div>
      </li>
      <li>
        <div class="contenitore-prodotto-li">
          <a routerLink="/shoes"
            ><div class="contenitore-sport">
              <div class="contenitore-img-sport">
                <img src="images/Home-page/sport_3.jpg" alt="" />
              </div>
              <div class="testo-sport"><h3>Basket</h3></div>
            </div></a
          >
        </div>
      </li>
      <li>
        <div class="contenitore-prodotto-li">
          <a routerLink="/shoes"
            ><div class="contenitore-sport">
              <div class="contenitore-img-sport">
                <img src="images/Home-page/sport_4.jpg" alt="" />
              </div>
              <div class="testo-sport"><h3>Tennis</h3></div>
            </div></a
          >
        </div>
      </li>
      <li>
        <div class="contenitore-prodotto-li">
          <a routerLink="/shoes"
            ><div class="contenitore-sport">
              <div class="contenitore-img-sport">
                <img src="images/Home-page/sport_5.jpg" alt="" />
              </div>
              <div class="testo-sport"><h3>Fitness</h3></div>
            </div></a
          >
        </div>
      </li>
      <li>
        <div class="contenitore-prodotto-li">
          <a routerLink="/shoes"
            ><div class="contenitore-sport">
              <div class="contenitore-img-sport">
                <img src="images/Home-page/sport_6.jpg" alt="" />
              </div>
              <div class="testo-sport"><h3>Running</h3></div>
            </div></a
          >
        </div>
      </li>
      <!-- fine Inserire ngFor -->
    </ul>
  </div>

  <!-- Sezione "Membership Nike" -->
  <div class="slider padding-principale">
    <div class="contenitore-titolo-bottoni">
      <h2 class="titolo-slider">Membership Nike</h2>
      <div class="contenitore-bottoni-slider">
        <button
          class="bottone-slider sinistra"
          [disabled]="disabledLeft.get(2)"
          (click)="scroll(2, 'left')"
        >
          <img
            src="images/Icon/svg/sinistra.svg"
            alt="Bottone direzione-sinistra"
          />
        </button>
        <button
          class="bottone-slider destra"
          (click)="scroll(2, 'right')"
          [disabled]="disabledRight.get(2)"
        >
          <img
            src="images/Icon/svg/destra.svg"
            alt="Bottone direzione-destra"
          />
        </button>
      </div>
    </div>
    <ul #scrollContainer (scroll)="checkScrollPosition(2, $any($event.target))">
      <li>
        <div class="contenitore-prodotto-li">
          <div class="contenitore-membership">
            <div class="contenitore-img-membership">
              <img src="images/Home-page/banner_2.jpg" alt="" />
            </div>
            <div class="testo-membership">
              <p>Prodotti per member</p>
              <h3>Il tuo accesso in esclusiva</h3>
              <div class="ctn-nike-link">
                <a routerLink="/shoes" class="nike-link bianco">Acquista</a>
              </div>
            </div>
            <a routerLink="/shoes" class="link-overlay"></a>
          </div>
        </div>
      </li>
      <li>
        <div class="contenitore-prodotto-li">
          <div class="contenitore-membership">
            <div class="contenitore-img-membership">
              <img src="images/Home-page/banner_5.jpg" alt="" />
            </div>
            <div class="testo-membership">
              <p>Ricompense per i nostri member</p>
              <h3>Il nostro modo di ringraziarti</h3>
              <div class="ctn-nike-link">
                <a routerLink="/shoes" class="nike-link bianco">Scopri</a>
              </div>
            </div>
            <a routerLink="/shoes" class="link-overlay"></a>
          </div>
        </div>
      </li>
      <li>
        <div class="contenitore-prodotto-li">
          <div class="contenitore-membership">
            <div class="contenitore-img-membership">
              <img src="images/Home-page/banner_6.jpg" alt="" />
            </div>
            <div class="testo-membership">
              <p>Sport e benessere</p>
              <h3>Muovi al tuo ritmo</h3>
              <div class="ctn-nike-link">
                <a routerLink="/shoes" class="nike-link bianco"
                  >Inizia a muoverti</a
                >
              </div>
            </div>
            <a routerLink="/shoes" class="link-overlay"></a>
          </div>
        </div>
      </li>
      <li>
        <div class="contenitore-prodotto-li">
          <div class="contenitore-membership">
            <div class="contenitore-img-membership">
              <img src="images/Home-page/banner_1.jpg" alt="" />
            </div>
            <div class="testo-membership">
              <p>Nike By You</p>
              <h3>Crea modelli unici</h3>
              <div class="ctn-nike-link">
                <a routerLink="/shoes" class="nike-link bianco">Personalizza</a>
              </div>
            </div>
            <a routerLink="/shoes" class="link-overlay"></a>
          </div>
        </div>
      </li>
      <li>
        <div class="contenitore-prodotto-li">
          <div class="contenitore-membership">
            <div class="contenitore-img-membership">
              <img src="images/Home-page/banner_3.jpg" alt="" />
            </div>
            <div class="testo-membership">
              <p>App nike</p>
              <h3>Sempre al top</h3>
              <div class="ctn-nike-link">
                <a routerLink="/shoes" class="nike-link bianco">Nike App</a
                ><a routerLink="/shoes" class="nike-link bianco">SNKRS</a>
              </div>
            </div>
            <a class="link-overlay" routerLink="/shoes"></a>
          </div>
        </div>
      </li>
      <li>
        <div class="contenitore-prodotto-li">
          <div class="contenitore-membership">
            <div class="contenitore-img-membership">
              <img src="images/Home-page/banner_4.jpg" alt="" />
            </div>
            <div class="testo-membership">
              <h3>Altro ancora dalla membership</h3>
              <div class="ctn-nike-link">
                <a routerLink="/shoes" class="nike-link bianco">Scopri</a>
              </div>
            </div>
            <a class="link-overlay" routerLink="/shoes"></a>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <!-- Mettere Accordion -->

  <div class="spazio"></div>
</main>
